<!--
<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 	Author: Victor Willingham (https://github.com/BigBobFro)
  	Used in conjunction with LocalBackup.ps1
-->

<Root>
	<AppSettings>
		<TempFolder>c:\temp</TempFolder>
		<LogFolder>c:\Logs</LogFolder>
	</AppSettings>
	<Retention>
		<Number>1</Number>
		<Unit>Month</Unit>
	</Retention>
	<Destination>e:\Backup</Destination>
	<Backup>
		<name>Files</name>
		<Location>d:\Files</Location>
	</Backup>
	<Backup>
		<Name>OwnerData</Name>
		<Location>f:\user\<REDACTED>\Documents</Location>
	</Backup>
</Root>
